<div class="container mt-3">
    <div *ngIf='addingGroup'>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)='showAllGroups()'>Show Groups</button>
        </div>
        <app-add-group [groupId]='selectedGroupId'></app-add-group>
    </div>
    <div *ngIf='!addingGroup'>
        <div class="mb-2">
            <button class="btn btn-primary" (click)='addGroup()'>Add Group</button>
        </div>
        <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="groups"
            [animateRows]="true" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>