<div class="container">
  <h2 class="text-center mt-5">Think Wellness Now</h2>
  <h4 class="text-center">WELLNESS ENGAGEMENT QUESTIONNAIRE</h4>
  <div class="row">
    <div class="col-md-12 mt-3">
      The first step towards your wellness is your engagement. That is why it is important for us to know exactly which
      aspects of your health you would like to work on the most. After learning a bit more about you, we can help you
      design your own customized wellness program. By matching your unique interests and health goals, we can design a
      program that will help you stay motivated so that you can get the most out of your personalized wellness program.
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 mt-3">Based upon the answers you provide us in this form, we will match your specific wellness
      goals with our
      specialized wellness programs designed especially for you to stay focused, motivated and empowered to meet all
      your
      healthcare goals. </div>
  </div>

  <app-dynamic-form [questions]='questions' (savedJson)="submitQuestionaire($event)"></app-dynamic-form>
</div>