<form [formGroup]="hraForm" autocomplete="off" aria-autocomplete="none" (ngSubmit)="onSubmit()">
  <!-- General Info -->
  <div class="row">
    <div class="form-group col-md-4">
      <label for="date">Date</label>
      <input type="date" formControlName="date" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">Date is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="age">Age</label>
      <input type="number" formControlName="age" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
      <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
        <div *ngIf="f.age.errors.required">Age is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="language">Language Preference</label>
      <select formControlName="language" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
        <option value="">Select a Language</option>
        <option value="English">English</option>
      </select>
      <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
        <div *ngIf="f.language.errors.required">Language preference is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="firstName">FirstName</label>
      <input type="text" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="middleName">Middle Inital</label>
      <input type="text" formControlName="middleName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
      <!-- <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
        <div *ngIf="f.middleName.errors.required">Middle Inital is required</div>
      </div> -->
    </div>
    <div class="form-group col-md-4">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="ssn">Social Security Number</label>
      <input type="text" formControlName="ssn" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.ssn.errors }" />
      <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
        <div *ngIf="f.ssn.errors.required">Social Security Number is required</div>
      </div>
    </div>
  </div>

  <!-- Company Info -->
  <div class="row">
    <div class="form-group col-md-4">
      <label for="groupName">Company Name</label>
      <input type="text" formControlName="groupName" class="form-control" disabled="true"
        [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
    </div>
    <div class="form-group col-md-4">
      <label for="department">Department</label>
      <input type="text" formControlName="department" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
      <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
        <div *ngIf="f.department.errors.required">Department is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="position">Position</label>
      <input type="text" formControlName="position" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.position.errors }" />
      <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
        <div *ngIf="f.position.errors.required">Position is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="gender">Gender</label>
      <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="TransGender">TransGender</option>
      </select>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div *ngIf="f.gender.errors.required">Gender is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Age is required</div>
        <div *ngIf="f.email.errors.email">Invalid email</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="alternateEmail">Alternate Email</label>
      <input type="text" formControlName="alternateEmail" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.alternateEmail.errors }" />
      <div *ngIf="submitted && f.alternateEmail.errors" class="invalid-feedback">
        <div *ngIf="f.alternateEmail.errors.required">Age is required</div>
        <div *ngIf="f.alternateEmail.errors.email">Invalid email</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="mailingAddress">Mailing Address</label>
      <input type="mailingAddress" formControlName="mailingAddress" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.mailingAddress.errors }" />
      <div *ngIf="submitted && f.mailingAddress.errors" class="invalid-feedback">
        <div *ngIf="f.mailingAddress.errors.required">Mailing Address is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="apartmentNumber">Apartment Number</label>
      <input type="text" formControlName="apartmentNumber" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.apartmentNumber.errors }" />
      <div *ngIf="submitted && f.apartmentNumber.errors" class="invalid-feedback">
        <div *ngIf="f.apartmentNumber.errors.required">Apartment Number is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="city">City</label>
      <input type="text" formControlName="city" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <input type="text" formControlName="state" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
      <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
        <div *ngIf="f.state.errors.required">State is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="zipCode">Zip Code</label>
      <input type="text" formControlName="zipCode" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />
      <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
        <div *ngIf="f.zipCode.errors.required">Zip Code is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="dob">Date of Birth</label>
      <input type="date" formControlName="dob" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
      <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
      </div>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-md-10">
      <label> Current Diagnosis</label>
    </div>
    <div class="col-md-1">
      <label>Yes</label>
    </div>
    <div class="col-md-1">
      <label>No</label>
    </div>
  </div>

  <div class="row" *ngFor="let question of currentDiagnosisQuestions">
    <hr style="width:97%;" />
    <div class="col-md-10">
      <label> {{question.label }}</label>
    </div>
    <div class="col-md-1">
      <input type="radio" value="Yes" name="{{question.key}}" formControlName="{{question.key}}" />
    </div>
    <div class="col-md-1">
      <input type="radio" value="No" name="{{question.key}}" formControlName="{{question.key}}" />
    </div>
  </div>
  <br />
  <!-- Other Diagnosis -->
  <div class="row">
    <div class="form-group col-md-12">
      <label for="otherDiagnosis">Other Diagnosis</label>
      <input type="text" formControlName="otherDiagnosis" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.otherDiagnosis.errors }" />
      <div *ngIf="submitted && f.otherDiagnosis.errors" class="invalid-feedback">
        <div *ngIf="f.otherDiagnosis.errors.required">Other Diagnosis is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <label for="textMessageConfirmation">Do you agree to have text messages sent toyour device from your health
        coach?</label>
      <div class="row">
        <div class="col-md-1">
          <label>Yes</label><br>
          <input type="radio" value="Yes" name="textMessageConfirmation" formControlName="textMessageConfirmation"
            [ngClass]="{ 'is-invalid': submitted && f.otherDiagnosis.errors }">
        </div>
        <div class="col-md-1">
          <label>No</label>
          <br>
          <input type="radio" value="No" name="textMessageConfirmation" formControlName="textMessageConfirmation"
            [ngClass]="{ 'is-invalid': submitted && f.otherDiagnosis.errors }">

        </div>
      </div>
    </div>
    <div *ngIf="submitted && f.textMessageConfirmation.errors" class="invalid-feedback">
      <div *ngIf="f.textMessageConfirmation.errors.required">Selection is required</div>
    </div>
    <div class="form-group col-md-4">
      <label for="contactMethodPreference">Contact Method Preference</label>
      <select formControlName="contactMethodPreference" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.contactMethodPreference.errors }">
        <option value="">Select a Contact Preference</option>
        <option value="Email">Email</option>
        <option value="Phone">Phone</option>
      </select>
      <div *ngIf="submitted && f.contactMethodPreference.errors" class="invalid-feedback">
        <div *ngIf="f.contactMethodPreference.errors.required">Contact Method Preference is required</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="cellPhone">Cell Phone</label>
      <input type="text" formControlName="cellPhone" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.cellPhone.errors }" />
      <div *ngIf="submitted && f.cellPhone.errors" class="invalid-feedback">
        <div *ngIf="f.cellPhone.errors.required">Cell Phone is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="alternateCellPhone">Alternate Cell Phone</label>
      <input type="text" formControlName="alternateCellPhone" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.alternateCellPhone.errors }" />
      <div *ngIf="submitted && f.alternateCellPhone.errors" class="invalid-feedback">
        <div *ngIf="f.alternateCellPhone.errors.required">Alternate Cell Phone is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="bestTimeToCall">Best Time To Call</label>
      <input type="text" formControlName="bestTimeToCall" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.bestTimeToCall.errors }" />
      <div *ngIf="submitted && f.bestTimeToCall.errors" class="invalid-feedback">
        <div *ngIf="f.bestTimeToCall.errors.required">Best Time To Call is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="heightInFeet">Height (Feet)</label>
      <input type="number" formControlName="heightInFeet" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.heightInFeet.errors }" />
      <div *ngIf="submitted && f.heightInFeet.errors" class="invalid-feedback">
        <div *ngIf="f.heightInFeet.errors.required">Height in Feet is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="heightInInches">Height (Inches)</label>
      <input type="number" formControlName="heightInInches" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.heightInInches.errors }" />
      <div *ngIf="submitted && f.heightInInches.errors" class="invalid-feedback">
        <div *ngIf="f.heightInInches.errors.required">Height in Inches is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="weightInLbs">Weight (lbs)</label>
      <input type="number" formControlName="weightInLbs" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.weightInLbs.errors }" />
      <div *ngIf="submitted && f.weightInLbs.errors" class="invalid-feedback">
        <div *ngIf="f.weightInLbs.errors.required">Weight is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="bmi">Body Mass Index</label>
      <input type="number" formControlName="bmi" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.bmi.errors }" />
      <div *ngIf="submitted && f.bmi.errors" class="invalid-feedback">
        <div *ngIf="f.bmi.errors.required">Body Mass Index is required</div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="mostRecentCheckupDate">Most Recent Checkup Date</label>
      <input type="date" formControlName="mostRecentCheckupDate" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.mostRecentCheckupDate.errors }" />
      <div *ngIf="submitted && f.mostRecentCheckupDate.errors" class="invalid-feedback">
        <div *ngIf="f.mostRecentCheckupDate.errors.required">Most Recent Checkup Date is required</div>
      </div>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-md-10">
      <label> Health Questions</label>
    </div>
    <div class="col-md-1">
      <label>Yes</label>
    </div>
    <div class="col-md-1">
      <label>No</label>
    </div>
  </div>

  <div class="row" *ngFor="let question of healthQuestions">
    <hr style="width:97%;" />
    <div class="col-md-10">
      <label> {{question.label }}</label>
    </div>
    <div class="col-md-1">
      <input type="radio" value="Yes" name="{{question.key}}" formControlName="{{question.key}}" />
    </div>
    <div class="col-md-1">
      <input type="radio" value="No" name="{{question.key}}" formControlName="{{question.key}}" />
    </div>
  </div>
  <br />

  <div class="row">
    <div class="form-group col-md-12">
      <label for="comments">Comments</label>
      <textarea rows="4" formControlName="comments" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.age.errors }"></textarea>
      <!-- <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
        <div *ngIf="f.comments.errors.required">Comments are required</div>
      </div> -->
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary mr-3">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <button [disabled]="loading" class="btn btn-secondary">
      Cancel
    </button>
  </div>
</form>