<div class="container mt-3">
    <div *ngIf='addingVideo'>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)='showAllVideos(true)'>Show Videos</button>
        </div>
        <app-add-video [videoId]='selectedVideoId'></app-add-video>
    </div>
    <div *ngIf='!addingVideo'>
        <div class="mb-2">
            <button class="btn btn-primary" (click)='addVideo()'>Add Video</button>
        </div>
        <ag-grid-angular #agGrid style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="videos"
            [animateRows]="true" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>