<div class="card m-3">
  <h5 class="card-header">Change Password</h5>
  <div class="card-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">New Password is required</div>
          <div *ngIf="f.newPassword.errors.minlength">New Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>